<%- include("partials/header") -%>
<h1>COMPOSE</h1>
<form class="" action="/compose" method="post">

  <div class="form-group">
      <label for="exampleFormControlInput1">Title</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" name="titleContent" placeholder="" autocomplete="off">
      <label for="exampleFormControlTextarea1">Content</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" name="bodyContent"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Publish</button>
</form>

<%- include("partials/footer") -%>


















 <%# <input type="text" " > %>
<%# <button type="submit" name="publish" placeholder>Publish</button> %> %>
